<%- include('partials/_head.ejs'); %>

    <section>
        <h2>Please Sign In:</h2>
        <form method="POST" action="/sign-in">
            <label for="email-address-field">E-Mail:</label>
            <input type="email" name="userEmail" id="email-address-field">
            <label for="password-field">Password:</label>
            <input type="password" name="userPass" id="password-field">
            <input type="submit" value="Sign In">
        </form>
    </section>

</body>
</html>
