<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>
<body>
    <h1>Sign In</h1>
    <p>Please sign in:</p>
    <!-- METHOD=VERB; ACTION=PATH -->
    <form method="POST" action="/sign-in">
        <label for="user">
            Username:
        </label>
        <input type="text" id="user" name="username" value="" placeholder="warren">
        <label for="pass">
            Password:
        </label>
        <input type="password" id="pass" name="password" value="" placeholder="p4ssw0rd">
        <input type="submit" value="Click Here to Sign In">
    </form>
</body>
</html>